<Configuration status="WARN" monitorInterval="300">
    <!--定义全局变量-->
    <properties>
        <property name="log_home">D:/export/Logs</property>
        <property name="log_level">debug</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%t [%d] [%7r] %6p - %c::%M - %m \n"/>
        </Console>

        <RollingRandomAccessFile name="Trace" fileName="${log_home}/sport-trace.log"
                                 filePattern="${log_home}/sport-trace-%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="%t [%d] [%7r] %6p - %c::%M - %m \n"/>
            <Policies>
                <!-- interval 多久执行一次备份，单位为 RollingRandomAccessFile的属性filePattern中%d{yyyy-MM-dd}的最小时间单位-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--SizeBasedTriggeringPolicy size="100 MB"/-->
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="sport-sql" fileName="${log_home}/sport-sql.log"
                                 filePattern="${log_home}/sport-sql-%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %-5p # %n%m%n"/>
            <Policies>
                <!-- interval 多久执行一次备份，单位为 RollingRandomAccessFile的属性filePattern中%d{yyyy-MM-dd}的最小时间单位-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>

        <AsyncLogger name="java.sql" level="${log_level}" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>

        <AsyncLogger name="com.ca" level="${log_level}" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>

        <Root level="${log_level}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>