<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="300">

    <properties>
        <property name="LOG_HOME">/EXPORT/SPORT/LOGS</property>
        <property name="LOG_LEVEL">debug</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="Trace" fileName="${LOG_HOME}/sport-trace.log"
                                 filePattern="${LOG_HOME}/sport-trace-%d{yyyyMMddHH}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %-5p %l - %m%n"/>
            <Policies>
                <!-- interval 多久执行一次备份，单位为 RollingRandomAccessFile的属性filePattern中%d{yyyy-MM-dd}的最小时间单位-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--SizeBasedTriggeringPolicy size="100 MB"/-->
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <!-- 3rdparty Loggers -->
        <logger name="org.springframework.core" level="info">
        </logger>
        <logger name="org.springframework.beans" level="info">
        </logger>
        <logger name="org.springframework.context" level="info">
        </logger>
        <logger name="org.springframework.web" level="info">
        </logger>

        <logger name="com.ca.sport" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="Trace"/>
            <appender-ref ref="Console"/>
        </logger>
        <!--<logger name="com.alibaba.dubbo" level="${LOG_LEVEL}" additivity="false">-->
            <!--<appender-ref ref="Trace"/>-->
            <!--<appender-ref ref="Console"/>-->
        <!--</logger>-->
        <root level="${LOG_LEVEL}">
            <appender-ref ref="Console"/>

        </root>
    </Loggers>
</Configuration>